pipeline/PL_AZURESQLDB_TO_BLOB_DATAMVMT.json
{
	"name": "PL_AZURESQLDB_TO_BLOB_DATAMVMT",
	"properties": {
		"activities": [
			{
				"name": "Copy_SQLDBTAB_BlogStorage",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AZURESQLDB",
						"type": "DatasetReference",
						"parameters": {
							"Schame_name": {
								"value": "@pipeline().parameters.PPschema_name",
								"type": "Expression"
							},
							"Table_name": {
								"value": "@pipeline().parameters.PPtable_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Azure_Blob_sync",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.PPcontainer_name",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.PPfile_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Success_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_SQLDBTAB_BlogStorage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-52.eastus.logic.azure.com:443/workflows/509e4df9c6ac474786e8f9b192e44537/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Va9vN81CzPB7PfBGCwGH1yuSmyMQdh2ue1BXTCBgmxE",
					"method": "POST",
					"body": {
						"datafactoryname": "@{pipeline().DataFactory}",
						"emailto": "ramana.db@gmail.com",
						"pipelinename": "@{pipeline().Pipeline}",
						"errormessage": "Pipeline Succss",
						"status": "@{activity('Copy_SQLDBTAB_BlogStorage').status}",
						"Runid": "@{pipeline().RunId}"
					}
				}
			},
			{
				"name": "Failure_Notification_copy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_SQLDBTAB_BlogStorage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-52.eastus.logic.azure.com:443/workflows/509e4df9c6ac474786e8f9b192e44537/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Va9vN81CzPB7PfBGCwGH1yuSmyMQdh2ue1BXTCBgmxE",
					"method": "POST",
					"body": {
						"datafactoryname": "@{pipeline().DataFactory}",
						"emailto": "ramana.db@gmail.com",
						"pipelinename": "@{pipeline().Pipeline}",
						"errormessage": "Pipeline Failed",
						"status": "@{activity('Copy_SQLDBTAB_BlogStorage').status}",
						"Runid": "@{pipeline().RunId}"
					}
				}
			}
		],
		"parameters": {
			"PPschema_name": {
				"type": "string"
			},
			"PPtable_name": {
				"type": "string"
			},
			"PPcontainer_name": {
				"type": "string"
			},
			"PPfile_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}