pipeline/PL_Databricks_CopyData_Geb2_Raw_to_Processed.json
{
	"name": "PL_Databricks_CopyData_Geb2_Raw_to_Processed",
	"properties": {
		"activities": [
			{
				"name": "Setvariable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "bhedneengg9_var",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "bhedneengg9_Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Setvariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Phase-1/ETL/Read_Write_ADLSGen2_Files",
					"baseParameters": {
						"processed_date": {
							"value": "@variables('bhedneengg9_var')",
							"type": "Expression"
						},
						"sourcetablename": "CUST"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks_workspace",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "bhedneengg9_Notebook",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[note_book_log_USP]",
					"storedProcedureParameters": {
						"messagename": {
							"value": {
								"value": "@activity('bhedneengg9_Notebook').output.runError",
								"type": "Expression"
							},
							"type": "String"
						},
						"rundetails": {
							"value": {
								"value": "@activity('bhedneengg9_Notebook').output.runPageUrl",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"bhedneengg9_var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}