pipeline/pl_multiple_tables_dataload_into_files.json
{
	"name": "pl_multiple_tables_dataload_into_files",
	"properties": {
		"activities": [
			{
				"name": "Lookup_metadata_tablelist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.BI_MGR_METADATA where isactive =1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsqldb_metadata_tables_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_check_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_metadata_tablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_metadata_tablelist').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get_Metadata_check_each_table",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_azsqldb_check_table_avai",
									"type": "DatasetReference",
									"parameters": {
										"source_table_nm": {
											"value": "@item().source_table_nm",
											"type": "Expression"
										},
										"source_schema_nm": {
											"value": "@item().source_schema_nm",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "If_condition_to_check_table_avai",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get_Metadata_check_each_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Get_Metadata_check_each_table').output.exists,true)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait_for_source_table",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 60
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_data_azsqldb_azblob",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_azsqldb_check_table_avai",
												"type": "DatasetReference",
												"parameters": {
													"source_table_nm": "@item().source_table_nm",
													"source_schema_nm": "@item().source_schema_nm"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_sink_multiple_tables",
												"type": "DatasetReference",
												"parameters": {
													"sink_container_name": {
														"value": "@item().sink_container_nm",
														"type": "Expression"
													},
													"sink_file_name": {
														"value": "@item().sink_file_nm",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}